<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--Configuration used to define on which Currency is the POS working-->
    <!--Valid values as of now MXN, US, Review documentation to view the updated valid values-->
    <add key="Currency" value="US"/>
    <!--Configuration for the path/file name of the log-->
    <add key="LogName" value="application.log"/>
  </appSettings>
</configuration>